.row {
  display: flex;
  .cell {
    border: 1px solid grey;
    justify-content: center;
    align-items: center;
    display: flex;
    min-width: 30px;
    min-height: 30px;
  }
  .done {
    border: 3px solid blue;
    margin: -2px;
    border-radius: 7px;
    color: blue;
    z-index: 9999;
  }
}
.header{
  font-weight: bold;
}
